{{!-- <h1>{{title}}</h1> --}}
<form action="/form/category_form" method="POST">
	<div class="form-group">
		<label for="exampleInputEmail1">Name:</label>
		<input
			type="text"
			name="name"
			class="form-control"
			id="title"
			placeholder=""
		/>
	</div>
	<p></p>
	<button type="submit" class="btn btn-primary">Add category</button>
</form>
<a href="/">Back</a>