{{!-- <form action="/form/entry_form" method="POST">
	<p>{{categories}}</p>
	<div class="form-group">
		<label for="exampleInputEmail1">Title:</label>
		<input
			type="text"
			name="title"
			class="form-control"
			id="title"
			placeholder=""
		/>
	</div>
	<div class="form-group">
		<label for="exampleInputEmail1">Subtitle:</label>
		<input
			type="text"
			name="subtitle"
			class="form-control"
			id="subtitle"
			placeholder=""
		/>
	</div>
	<div class="form-group">
		<label for="exampleInputEmail1">Entry:</label>
		<input
			type="text"
			name="body"
			class="form-control"
			id="exampleInputEmail1"
			placeholder=""
		/>
	</div>
	<div class="form-group">
		<label for="exampleInputEmail1">Hastag:</label>
		<input
			type="text"
			name="hastag"
			class="form-control"
			id="hastag"
			placeholder=""
		/>
	</div>
	<p></p>
	<select class="form-select" aria-label="Default select example">
		<option selected>Select a category</option>
		<option value="1">One</option>
		<option value="2">Two</option>
		<option value="3">Three</option>
	</select>
	<p></p>
	<button type="submit" class="btn btn-primary">Add entry</button>
</form>
<a href="/">Back</a> --}}